/* About slide: two-column layout with haloed profile photo. */

#about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#profile-photo-container {
    position: relative;
    width: fit-content;
}

#profile-photo-container::before {
    content: "";
    position: absolute;

    width: 60vh;
    height: 60vh;
    border-radius: 50%;

    background-color: var(--sub-text-color);

    left: -15%;

    z-index: 0;
}

#profile-photo {
    height: 60vh;
    width: auto;
    clip-path: circle(50%);
}
