html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

.snap-container {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: y mandatory;
}

.snap-container::-webkit-scrollbar {
    display: none;
}

.snap-section {
    height: 100vh;
    scroll-snap-align: start;
}

/* LANDING SECTION CLASSES*/

.landing-para {
    font-family: mali-italic;
    font-size: 2vw;
    margin: 0;
    color: #BF8445;
}

.landing-heading {
    font-family: capriola;
    font-weight: 100;
    margin: 0;
    color: #c06300;
}

/* LANDING SECTION IDS */

#landing {
    background-color: #d9d9d9;
    position: relative;
}

#landing-nav-header {
    font-family: geologica-bold;
    color: #bf8445;
    font-size: 2vh;
    display: flex;
    justify-content: space-between;
}

#landing-nav-bar {
    float: right;
}

#landing-name {
    padding-left: 1em;
}

#landing-list {
    display: flex;
    padding-right: 1.5em;
    gap: 1.5em;
    list-style-type: none;
}

#landing-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#hand-wave {
    width: 2vw;
    height: 2vw;
    padding-right: 0.5vw;
}

#left-text {
    text-align: right;
    align-self: center;
    transform: translateY(-9vh);
}

#right-text {
    align-self: center;
    transform: translateY(9vh);
}

#left-text-para {
    display: flex;
    align-items: center;
}

#landing-heading-name {
    font-size: 3vw;
}

#landing-heading-title {
    font-family: capriola;
    font-size: 2.5vw;
}

#keep-scrolling-group {
    position: absolute;
    bottom: -10%;
    left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keep-scrolling-text {
    font-size: 1.5vw;
    text-align: center;
}

#animation-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#animation {
    height: 55vh;
    width: auto;
}

#up-to-group {
    position: absolute;
    display: flex;
    right: -15vw;
    top: -5vh;
}

#up-to-text {
    font-size: 1.5vw;
    white-space: nowrap;
    transform: translate(0.5vw, -0.8vw);
}

#up-to-arrow {
   width: auto;
   height: auto;
}

/* Assets */
@font-face {
    font-family: geologica-bold;
    src: url(../assets/fonts/Geologica/Geologica-Bold.ttf);
}

@font-face {
    font-family: capriola;
    src: url(../assets/fonts/Capriola/Capriola-Regular.ttf);
}

@font-face {
    font-family: mali-italic;
    src: url(../assets/fonts/Mali/Mali-Italic.ttf);
}