html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body[data-theme="sunny"] {
    --background-color: #f3efe8;
    --main-text-color: #ac6416;
    --sub-text-color: #bf8445;
}

body[data-theme="rainy"] {
    --background-color: #515f7a;
    --main-text-color: #8290ac;
    --sub-text-color: #93b5c5;
}

body[data-theme="cloudy"] {
    --background-color: #232630;
    --main-text-color: #9ba4a4;
    --sub-text-color: #969996;
}

body[data-theme="snowy"] {
    --background-color: #ffffff;
    --main-text-color: #9ba9d0;
    --sub-text-color: #a3dfff;
}

body[data-theme="night"] {
    --background-color: #080c0d;
    --main-text-color: #8e74a5;
    --sub-text-color: #654368;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.snap-container {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: y mandatory;
}

.snap-container::-webkit-scrollbar {
    display: none;
}

.snap-section {
    height: 100vh;
    scroll-snap-align: start;
    background-color: var(--background-color);
}

.main-text-color {
    color: var(--main-text-color);
}

.sub-text-color {
    color: var(--sub-text-color);
}

/* LANDING SECTION CLASSES*/

.landing-para {
    font-family: mali-italic;
    font-size: 2vw;
    margin: 0;
}

.landing-heading {
    font-family: capriola;
    font-weight: 100;
    margin: 0;
}

/* LANDING SECTION IDS */

#landing {
    position: relative;
}

#landing-nav-header {
    font-family: geologica-bold;
    font-size: 2vh;
    display: flex;
    justify-content: space-between;
}

#landing-nav-bar {
    float: right;
}

#landing-name {
    padding-left: 1em;
}

#landing-list {
    display: flex;
    padding-right: 1.5em;
    gap: 1.5em;
    list-style-type: none;
}

#landing-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#hand-wave {
    width: 2vw;
    height: 2vw;
    padding-right: 0.5vw;
}

#left-text {
    text-align: right;
    align-self: center;
    transform: translateY(-9vh);
}

#right-text {
    align-self: center;
    transform: translateY(9vh);
}

#left-text-para {
    display: flex;
    align-items: center;
}

#landing-heading-name {
    font-size: 3vw;
}

#landing-heading-title {
    font-family: capriola;
    font-size: 2.5vw;
}

#keep-scrolling-group {
    position: absolute;
    bottom: -20%;
    left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keep-scrolling-text {
    font-size: 1.5vw;
    text-align: center;
}

#keep-scrolling-arrow {
    border-left: 0.25vw dotted var(--sub-text-color);
    height: 20vw;
}

#animation-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#animation {
    height: 55vh;
    width: auto;
}

#up-to-text {
    position: absolute;
    display: flex;
    right: -10vw;
    top: 0vh;
    font-size: 1.5vw;
    white-space: nowrap;
}

/* Assets */
@font-face {
    font-family: geologica-bold;
    src: url(../assets/fonts/Geologica/Geologica-Bold.ttf);
}

@font-face {
    font-family: capriola;
    src: url(../assets/fonts/Capriola/Capriola-Regular.ttf);
}

@font-face {
    font-family: mali-italic;
    src: url(../assets/fonts/Mali/Mali-Italic.ttf);
}