html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body[data-theme="sunny"] {
    --background-color: #f3efe8;
    --main-text-color: #ac6416;
    --sub-text-color: #bf8445;
}

body[data-theme="rainy"] {
    --background-color: #515f7a;
    --main-text-color: #8290ac;
    --sub-text-color: #93b5c5;
}

body[data-theme="cloudy"] {
    --background-color: #232630;
    --main-text-color: #9ba4a4;
    --sub-text-color: #969996;
}

body[data-theme="snowy"] {
    --background-color: #ffffff;
    --main-text-color: #9ba9d0;
    --sub-text-color: #a3dfff;
}

body[data-theme="night"] {
    --background-color: #080c0d;
    --main-text-color: #8e74a5;
    --sub-text-color: #654368;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

h1 {
    font-family: capriola;
}

p {
    font-family: mali-italic;
}

.snap-container {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: y mandatory;
}

.snap-container::-webkit-scrollbar {
    display: none;
}

.snap-section {
    height: 100vh;
    scroll-snap-align: start;
    background-color: var(--background-color);
}

.main-text-color {
    color: var(--main-text-color);
}

.sub-text-color {
    color: var(--sub-text-color);
}

.arrow {
    box-sizing: border-box;
    height: 3vh;
    width: 3vh;
    border-style: solid;
    border-color: var(--sub-text-color);
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}

/* LANDING SECTION CLASSES*/

.landing-para {
    font-size: 2vw;
    margin: 0;
}

.landing-heading {
    font-family: capriola;
    font-weight: 100;
    margin: 0;
}

/* LANDING SECTION IDS */

#landing {
    position: relative;
}

#landing-nav-header {
    font-family: geologica-bold;
    font-size: 2vh;
    display: flex;
    justify-content: space-between;
}

#landing-nav-bar {
    float: right;
}

#landing-name {
    font-family: geologica-bold;
    padding-left: 1em;
}

#landing-list {
    display: flex;
    padding-right: 1.5em;
    gap: 1.5em;
    list-style-type: none;
}

#landing-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#hand-wave {
    width: 2vw;
    height: 2vw;
    padding-right: 0.5vw;
}

#left-text {
    text-align: right;
    align-self: center;
    transform: translateY(-9vh);
}

#right-text {
    align-self: center;
    transform: translateY(9vh);
}

#left-text-para {
    display: flex;
    align-items: center;
}

#landing-heading-name {
    font-size: 3vw;
}

#landing-heading-title {
    font-family: capriola;
    font-size: 2.5vw;
}

#keep-scrolling-arrow-container {
    position: absolute;
    bottom: -10vh;
}

#keep-scrolling-arrow {
    border-width: 0 0.4vh 0.4vh 0;
}

#keep-scrolling-arrow:hover {
    border-width: 0vh 0.6vh 0.6vh 0;
}

#animation-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#animation {
    height: 70vh;
    width: auto;
}

#up-to-text {
    position: absolute;
    display: flex;
    right: -10vw;
    top: 3vh;
    font-size: 1.5vw;
    white-space: nowrap;
}

/* CAROUSEL SECTION CLASSES */

.carousel-item {
    scroll-snap-align: center;
    flex: 0 0 100%;

    display: flex;
    justify-content: center;
}

/* CAROUSEL SECTION IDS */

#carousel {
    display: flex;
    align-items: center;
    width: 100%;
}

#carousel-viewport {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    flex: 1;
}

#carousel-wrapper {
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
    transition: transform 0.5s ease;
}

#prev-button-container {
    display: flex;
    align-items: center;
    padding-left: 2vw;
}

#carousel-prev-button {
    background: none;
    border-width: 0 0 0.4vh 0.4vh;
}

#carousel-prev-button:hover {
    border-width: 0 0 0.6vh 0.6vh;
}

#next-button-container {
    display: flex;
    align-items: center;
    padding-right: 2vw;
}

#carousel-next-button {
    background: none;
    border-width: 0.4vh 0.4vh 0 0;
}

#carousel-next-button:hover {
    border-width: 0.6vh 0.6vh 0 0;
}

/* ABOUT SECTION IDS */

#about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#profile-photo-container {
    position: relative;
    width: fit-content;
}

#profile-photo-container::before {
    content: "";
    position: absolute;

    width: 60vh;
    height: 60vh;
    border-radius: 50%;

    background-color: var(--sub-text-color);

    left: -15%;
    
    z-index: 0; 
}

#profile-photo {
    height: 60vh;
    width: auto;
    clip-path: circle(50%);
}

/* Assets */
@font-face {
    font-family: geologica-bold;
    src: url(../assets/fonts/Geologica/Geologica-Bold.ttf);
}

@font-face {
    font-family: capriola;
    src: url(../assets/fonts/Capriola/Capriola-Regular.ttf);
}

@font-face {
    font-family: mali-italic;
    src: url(../assets/fonts/Mali/Mali-Italic.ttf);
}